---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'Millets Mornings',
  description: 'This is a landing page for the Millet mornings gluten free and diabetic friendly porridge breakfast ',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
  
  .hero__article h2{
    color: #175a75;
  }

  .hero__article h3{
    color: #f3f3f3;
    margin-bottom: 20px;
  }

  .hero__article h4{
    color: #f3f3f3;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .prod-type{
    color: #1d7496 !important;
  }

  .feat-list {
    text-align: start;
  }

  .achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  
  .achievements h2 {
    color: #175a75;
  }

  .achievements h3 {
    color: #f3f3f3;
    margin-bottom: 20px;
  }
  
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h2 class="fade-in">Millet Mornings</h2>
      <h3 class="fade-in prod-type">Porrdige Breakfast</h3>
      <h3 class="fade-in">Gluten free and diabetic friendly</h3>
      <ul class="feat-list fade-in">
        <li>Customizable with milk or water, and your favorite toppings.</li>
          <li>Specially designed for blood sugar control and dietary restrictions.</li>
          <li>Environmentally friendly and sustainable. </li>
      </ul>
      <h4 class="fade-in"> Coming Soon!</h4>
      <p class="fade-in">We're gearing up for a Fall 2024 launch, and we want you to be part of it.</p>
      <p class="fade-in"> Be among the first to know when our product is available!</p>
      <SignupForm />

      <article class="achievements">
        <h3 class="fade-in">Achievements</h3>
        <!-- <img src="../icons/access-certi.png" alt="Achievement Image" />
        <img src="../icons/access-logo.png" alt="Access Image" /> -->
        <p class="fade-in"><a href="https://accessccf.com/womens-business-accelerator/" target="_blank">November 2023's Pitch Competition Winner</a></p>
      </article>

    </article>
  </Container>
</Layout>

